sorbetto-waveform {
  display: block;
}
sorbetto-waveform .container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
sorbetto-waveform .slider_wrapper {
  position: absolute;
  left: 0%;
  height: 100%;
}
sorbetto-waveform .image_wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: bottom;
  left: 0%;
  overflow: hidden;
}
sorbetto-waveform .image {
  position: relative;
  right: 0%;
  text-align: center;
}
sorbetto-waveform .image img {
  width: 100%;
  cursor: pointer;
}
