                        NKOdl:,'..            ..';:ldOKNW                       
                   WN0dc,.    ..',;::cccccc::;,'..    .,cd0N                    
                WKxc'.  ..;coxO0KKKXXXXXXXXXXKKK0kxoc;..  .'cxXW                
             WXk:.   ':ok0KXXXXXXXXXXXXXXXXXXXXXXXXXXK0ko:.   .ckX              
           W0o'   'cx0KXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXK0xc'   'oKW           
         W0c.  .:x0XXKKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKKXX0x:.  .l0W         
       WKl.  .lOKXXXXXKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKXXXXXKkl.  .oX        
      Nx'  .lOKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKOc.  'kW      
     Kc.  ;kKKOkxxkO0KXXXXXXXXXXXXXXXXXXXXXXXXXXK0OkxxkO0KXXXXXXXXXKk;  .lX     
   W0,  .okd:'......':dOKXKXXXXXXXXXXXXXXXXXXKkl;'......';lx0KXXXXXXX0l.  ;0    
  WO'  'dd,.'lk0KKd'   .lOXXXXKXXXXXXXXXXXXKd;..:dk0KK0l.  .,d0XXXXXXXKx.  ,0   
  0'  ,xo..lXMMMM0,      ,kKXXXXXXXXXXXXXXO:..oKWMMMMWk.      :OXXXXXXXKx'  ,0  
 K;  'xd..oNMMMMMk.       ,kXXXXXXXXXXXXXO; ,0WMMMMMMWo        ,OXXXXXXXKx.  :X 
Nl  .dO; :XMMMMMMNo.   .'. :0XXXXXXXXXXKOc '0MMMMMMMMMXl.   .,. :0XXXXXXXKo.  oN
k.  cKx..xMMMMMMMMWXOxk0Xd..kXXXXXXXXXXko' oWMMMMMMMMMMWKkxkKNd..kXXXXXXXX0:  .O
c  'kXd..kMMMMMMMMMMMMMMMk..dXXXXXXXXXXx:..xMMMMMMMMMMMMMMMMMMk..dXXXXXXXXXx.  l
.  cKXk..dWMMMMMMMMMMMMMWd..xXXXXXXXXXXkl' oWMMMMMMMMMMMMMMMMMU..xXXXXXXXXX0:  '
  .dKX0: .;::::::::::::::. ;0XXXXXXXXXX0k: .;:::::::::::::::::. ;0XXXXXXXXXKo. .
  .xXXKOlccccccccccccccccclkKXXXXXXXXXXXKOlcccccccccccccccccccclkXXXXXXXXXXXx.  
  'kXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx.  
  .kXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx.  
  .dXXXXKkddddddddddddddddddddddddddddddddddddddddddddddddddddx0XXXXXXXXXXXXd.  
.  lKXXX0l'.            [    dayvonjersen.com    ]            .c0XXXXXXXXXXKc  .
,  ;OXXXKK0x' ................................................ .xXXXXXXXXXXO,  ;
d. .oKXXXXX0:  .'.............................................  lKXXXXXXXXKo. .d
K;  ,OXKXXXKd. ...............................................  :0XXXXXXXXk'  ;X
Wk.  :0XXXXX0c. ..............................................  cKXXXXXXX0:  .k 
 No. .l0XXXXXO:  ....'............................'........... .dKXXXXXX0c. .dW 
  No. .c0XKXXXO:  ..'..................''',,,,,'''....'......  :0XXXXXX0c. .oN  
   No.  :OKXXXXOc. ............'..'',:ldxxkOOOOkxdl;'.......  ;OXXXXXKO;  .dN   
    Nx.  'xKXXXX0o. .............';ok0KKKKKKKKKKKKK0xl,'... .cOXXXXXKd'  .xW    
     W0;  .:kKXXXKk;. ....'.....,lOKKKKKKKKKKKKKKKKKKKx;.  ,dKXXXXKk:.  :0W     
       Nd.  .lOKXXX0d,. .......;dKKKKKKKKKKKKKKKKKK0kl,..,d0XXXXKOc.  .dN       
        WKl.  .ckKXXX0d;.  ...,dKKKKKKKKKKKKKKK0Odc,...cx0XXXXKx:.  .lKW        
          W0l.  .;oOKXXKkl;.. .;ldxkkOOkkkxdlc;'...,cx0KXXXKOo,.  .oKW          
            WXd;.  .;lk0KXKOxo:,'............';coxOKXXXK0xl;.  .;xXW            
               W0o,.  .';lxO0KXKK0OkxxxxxkkO0KKXXXK0Odl;..  .;o0W               
                  N0xc'.   ..,:codxxkkOOOOkkxxdoc:,..   .,cxKW                  
                      N0xo:,..      ........      ..,:okKN                      
                          WN0ko:,..          ..,:ok0NW                          
╔══════════════════════════════════════════════════════════════════════════════╗
║             RELEASE {{.Release}}
║              ARTiST {{.Artist}} ║
║               TiTLE {{.Title}} ║
║               GENRE {{.Genre}} ║
║        NR.OF.TRACKS {{.NumTracks}} ║
║        TOTAL LENGTH {{.Length}} ║
║             ENCODER {{.Encoder}} ║
║             QUALiTY {{.Quality}} ║
║                SiZE {{.Size}} ║
║              COVERS  YES [{{if .HasArt}}X{{else}} {{end}}]  NO [{{if not .HasArt}}X{{else}} {{end}}]                                         ║
║                                                                              ║
║          ╔═══════════════════════════════════════════════════════╗           ║
║          ║  # TRACKNAME                                     TIME ║           ║
{{range .Tracks}}║          ║ {{.Num}} {{.Title}}
{{end}}║          ╚═══════════════════════════════════════════════════════╝           ║
║                                                                              ║
║                                                                              ║
{{.About}}
║                                                                              ║
║                                                                              ║
╚══════════════════════════════════════════════════════════════════════════════╝
