.stack > *:last-child {
  transform: scale(1); }

.stack > *:nth-last-child(1) {
  transform: scale(1.09861); }

.stack > *:nth-last-child(2) {
  transform: scale(1.60944); }

.stack > *:nth-last-child(3) {
  transform: scale(1.94591); }

.stack > *:nth-last-child(4) {
  transform: scale(2.19722); }

.stack > *:nth-last-child(5) {
  transform: scale(2.3979); }

.stack > *:nth-last-child(6) {
  transform: scale(2.56495); }

.stack > *:nth-last-child(7) {
  transform: scale(2.70805); }

.stack > *:nth-last-child(8) {
  transform: scale(2.83321); }

.stack > *:nth-last-child(9) {
  transform: scale(2.94444); }

.stack > *:nth-last-child(10) {
  transform: scale(3.04452); }
